/* Import Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* Global Styles */

* {
	padding: 0px;
	margin: 0px;
	outline: none;
	word-wrap: break-word;
}

html, body {
	font-family: Helvetica, Arial;
	font-size: 12px;
	webkit-font-smoothing: antialiased;
}

a {
	color: #6398e6;
	text-decoration: none;
}

a:hover {
	color: #416eb2;
}

hr {
	background: #b7b7b7;
	height: 1px;
	border: none;
	margin: 15px 0px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 14px;
}

h1, h2, h3 {
	font-weight: 400;
	line-height: 1em;
}

header h3 {
	color: #989898;
	margin: 0px;
	display: inline-block;
	float: left;
	padding: 12px 16px;
}

ul {
	margin: 15px 0px;
}

ul, ol {
	margin-left: 16px;
}

li {
	line-height: 1.8em;
}

/* Useful Stuff */

.left, .right, .clear {
	vertical-align: middle;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	overflow: hidden;
}

/* Wrappers */

.wrapper {
	max-width: 960px;
	margin: 30px auto;
}

#loginwrapper {
	max-width: 360px;
	margin: 0px auto;
}

#loginwrapper .wrap {
	width: 400px;
	margin-top: 200px;
}

#loginwrapper div span {
	display: table-cell;
	padding-right: 10px;
}

#loginwrapper div span + span {
	border-left: 1px solid #d3d3d3;
	padding-left: 10px;
}

#loginwrapper div:nth-of-type(3) div {
	display: table-row;
}

.wrap {
	background: #eee;
	padding: 3px;
	border-radius: 3px;
}

.innerwrap {
	border: 1px solid #d3d3d3;
}

.innerwrap > header {
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#eeeeee 100%);
	text-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff inset;
	overflow: hidden;
}

.wrap + .wrap {
	margin-top: 30px;
}

/* Form Input Elements */

label {
	display: block;
	margin-bottom: 10px;
}

label + img {
	margin-bottom: 10px;
}

form div + div {
	margin-top: 10px;
}

input[type=text], input[type=email], input[type=password], select, textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 12px;
	border: 1px solid #cacaca;
}

select {
	padding: 8px;
}

input:focus, textarea:focus {
	border: 1px solid #6398e6;
}

input[type=submit] {
	background: #e3e3e3;
	padding: 8px 18px;
	color: #989898;
	cursor: pointer;
	border: 1px solid #d0d0d0;
}

input[type=submit]:hover {
	background: #6398e6;
	color: #fff;
	border: 1px solid #416eb2;
}

input[type=checkbox] {
	margin-right: 3px;
	vertical-align: middle;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	appearance: none;
	background: #fff;
	border: 1px solid #cacaca;
	height: 16px;
	width: 16px;
	position: relative;
	bottom: 1px;
	cursor: pointer;
}

input[type=checkbox]:checked:after {
	position: absolute;
	content: '\2714';
	top: 1px;
	left: 3px;
	color: #989898;
	font-size: 10px;
}

textarea {
	min-height: 120px;
	font-family: Helvetica, Arial;
	overflow: hidden;
	font-size: 12px;
}

input[type=submit] + input[type=checkbox] {
	margin-left: 5px;
}

/* Header Buttons */

#head_buttons, .postbuttons {
	display: inline-block;
	font-family: FontAwesome;
	float: right;
}

#head_buttons a {
	color: #b7b7b7;
	text-shadow: 0px 1px 0px #fff;
	display: inline-block;
	padding: 14px 16px 14px;
	border-left: 1px solid #d3d3d3;
	cursor: pointer;
}

#head_buttons a:hover {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f2f2f2 100%);
}

#head_buttons a:active {
	background: #efefef;
	background: -moz-linear-gradient(top,  #efefef 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #efefef 0%,#e5e5e5 100%);
	box-shadow: 0px -1px 5px #dcdcdc inset;
}

header + .bodywrap .row, .row + .row, .postinfo + .bodywrap .row {
	border-top: 1px solid #d3d3d3;
}

.row {
	padding: 12px 16px;
	background: #fff;
}

.row header a {
	font-size: 14px;
}

.row p, .row span, form label, .row time, #recentactivity {
	color: #a5a5a5;
}

#errors + .row, #errors + .bodywrap .row {
	border-top: none;
	margin-top: -20px;
}

.post, #post_preview {
	line-height: 1.8em;
}

#head {
	border-bottom: 1px solid #d3d3d3;
	font-size: 14px;
	background: #f8f8f8;
}

#head a {
	color: #989898;
}

#head aside {
	float: left;
	position: relative;
	top: 10px;
	font-size: 22px;
}

#head nav {
	float: right;
	padding: 5px 0px;
}

#head > div {
	width: 960px;
	margin: 0px auto;
}

#topdrop {
	position: relative;
	z-index: 3;
}

#topdrop > a, nav > a {
	padding: 10px 14px 7px;
	border: 1px solid #f8f8f8;
	display: inline-block;
	position: relative;
	z-index: 3;
}

nav > a {
	padding: 10px 14px;
}

#topdrop:hover > a, nav > a:hover {
	background: #fefefe;
	border: 1px solid #d3d3d3;
	border-bottom: 1px solid #fff;
}

nav > a:hover {
	border-bottom: 1px solid #d3d3d3;
}

#topdrop img {
	height: 16px;
	width: 16px;
}

#topdrop span {
	position: relative;
	top: -3px;
	margin-left: 5px;
}

#topdrop a {
	display: block;
}

#topmenu {
	position: absolute;
	top: 37px;
	right: 0px;
	width: 150px;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	padding: 3px;
	z-index: 2;
}

#topmenu a {
	display: block;
	padding: 7px 12px;
}

#topmenu a:hover {
	background: #6398e6;
	color: #fff;
}

#topdrop:hover #topmenu {
	display: block;
}

#topmenu {
	display: none;
}

#preview_post {
	display: none;
}

.postwrap .wrap, .postwrap .userinfo {
	display: table-cell;
	vertical-align: top;
}

.postwrap .wrap {
	width: 840px;
	position: relative;
	max-width: 840px;
}

.postwrap {
	margin-bottom: 30px;
}

.postwrap .userinfo {
	width: 120px;
}

.postwrap .wrap:after {
	position: absolute;
	top: 35px;
	left: -19px;
	content: '';
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent #eee transparent transparent;
}

.postwrap .avatar {
	border: 1px solid #d3d3d3;
	width: 90px;
	height: 90px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3px;
	background: #fff;
	display: block;
}

.postauthor {
	margin-top: 5px;
	font-size: 18px;
	display: block;
}

.postwrap .post {
	min-height: 109px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#firstpost .post {
	min-height: 84px;
}

.post p, #preview_post p {
	color: #000;
}

.post p + p, #preview_post p + p {
	margin-top: 24px;
}

.post p img {
	max-width: 100%;
}

.postinfo {
	background: #fafafa;
	padding: 8px 16px;
	color: #989898;
}

header + .postinfo {
	border-top: 1px solid #d3d3d3;
}

.postbuttons span + span {
	margin-left: 8px;
}

.postbuttons a {
	color: #989898;
}

.postbuttons a:hover {
	color: #6398e6;
}

.postedit {
	color: #989898;
	font-size: 11px;
}

.inlineEdit {
	display: none;
}

#leftcol, #rightcol, #profilebar {
	display: table-cell;
	vertical-align: top;
}

#leftcol, #profilebar {
	width: 160px;
	background: #fff;
	border-right: 1px solid #d3d3d3;
}

#profilebar {
	width: 200px;
}

#rightcol {
	width: 792px;
	background: #fff;
}

nav#leftcol .row {
	border-bottom: 1px solid #d3d3d3;
	padding: 0px;
}

nav .row a {
	display: block;
	padding: 12px 16px;
}

nav#leftcol .row ~ .row {
	border-top: none;
}

.noborder {
	border: none !important;
}

#profilebar header {
	padding-bottom: 5px;
	margin: 15px 0px 5px;
	border-bottom: 1px solid #d3d3d3;
	text-transform: uppercase;
}

#recentactivity header {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d3d3d3;
}

.activity {
	padding: 5px 0px 10px;
	display: block;
}

.activity + .activity {
	padding: 10px 0px;
	border-top: 1px solid #d3d3d3;
}

.foruminfo, .forumstat, .lastava, .lastinfo {
	display: table-cell;
	vertical-align: middle;
}

.foruminfo {
	width: 660px;
	padding-right: 20px;
}

.lastinfo {
	position: relative;
	top: -2px;
}

.lastinfo span {
	display: block;
}

.lastava {
	padding-right: 10px;
}

#errors {
	background: #f36f6f;
	color: #fff;
	padding: 8px 16px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 3px;
}

#errors span {
	display: block;
	color: #fff;
}

#errors span + span {
	margin-top: 5px;
}

#notices {
	background: #6398e6;
	color: #fff;
	padding: 8px 16px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 3px;
}

#rightcol #notices + .row {
	border-top: none;
}

#notices span {
	display: block;
	color: #fff;
}

#notices span + span {
	margin-top: 5px;
}

/* Forum Stats */

#stats {
	text-align: center;
	color: #989898;
	background: #eee;
	padding: 0px 0px 20px;
	border-top: 1px solid #d3d3d3;
}

#stats span {
	display: inline-block;
	padding: 3px 6px;
}

#stats span:nth-of-type(2n - 1), #stats span:nth-of-type(2n - 1) a {
	background: #6398e6;
	border-radius: 3px;
	color: #fff;
}

/* Breadcrumb */

#bread {
	background: #f5f5f5;
	border-bottom: 1px solid #d3d3d3;
}

#bread .wrapper {
	margin: 0px auto;
	color: #989898;
}

#bread a, #bread span {
	padding: 10px 0px;
	display: inline-block;
}

#bread .sep {
	margin: 0px 10px;
}