* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

html, body {
	font-family: Helvetica, Arial;
	font-size: 12px;
}

a {
	color: #6398e6;
	text-decoration: none;
}

a:hover {
	color: #416eb2;
}

#wrapper {
	max-width: 960px;
	margin: 50px auto 0px;
}

#loginwrapper {
	max-width: 360px;
	margin: 0px auto;
}

#loginwrapper .wrap {
	width: 400px;
	margin-top: 200px;
}

#loginwrapper div span {
	display: table-cell;
	padding-right: 10px;
}

#loginwrapper div span + span {
	border-left: 1px solid #d3d3d3;
	padding-left: 10px;
}

input[type=submit] + input[type=checkbox] {
	margin-left: 5px;
}

.wrap {
	background: #eee;
	padding: 3px;
}

.innerwrap {
	border: 1px solid #d3d3d3;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

h1, h2, h3 {
	font-weight: 400;
}

.innerwrap > header {
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#eeeeee 100%);
	text-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff inset;
	overflow: auto;
}

h3 {
	color: #989898;
	font-size: 14px;
	margin: 0px;
	display: inline-block;
	float: left;
	padding: 12px 16px;
}

#head_buttons {
	display: inline-block;
	font-family: FontAwesome;
	float: right;
}

#head_buttons a {
	color: #b7b7b7;
	text-shadow: 0px 1px 0px #fff;
	display: inline-block;
	padding: 15px 16px 13px;
	border-left: 1px solid #d3d3d3;
	cursor: pointer;
}

#head_buttons a:hover {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f2f2f2 100%);
}

#head_buttons a:active {
	background: #efefef;
	background: -moz-linear-gradient(top,  #efefef 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #efefef 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #efefef 0%,#e5e5e5 100%);
	box-shadow: 0px -1px 5px #dcdcdc inset;
}

.wrap ~ .wrap {
	margin-top: 30px;
}

.row {
	padding: 12px 16px;
	background: #fff;
	border-top: 1px solid #d3d3d3;
}

.row header a {
	font-size: 14px;
}

.row p, .row span, form label {
	color: #a5a5a5;
}

label {
	display: block;
	margin-bottom: 10px;
}

label ~ img {
	margin-bottom: 10px;
}

form div ~ div {
	margin-top: 10px;
}

input[type=text], input[type=email], input[type=password], textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 12px;
	border: 1px solid #cacaca;
}

input:focus, textarea:focus {
	border: 1px solid #6398e6;
}

input[type=submit] {
	background: #e3e3e3;
	padding: 8px 18px;
	color: #989898;
	cursor: pointer;
	border: 1px solid #d0d0d0;
}

input[type=submit]:hover {
	background: #6398e6;
	color: #fff;
	border: 1px solid #416eb2;
}

input[type=checkbox] {
	margin-right: 3px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #cacaca;
	height: 16px;
	width: 16px;
	position: relative;
	bottom: 1px;
	cursor: pointer;
}

input[type=checkbox]:checked:after {
	position: absolute;
	content: '\2714';
	top: 1px;
	left: 3px;
	color: #989898;
	font-size: 10px;
}

textarea {
	height: 170px;
	font-family: Helvetica, Arial;
}

#errors {
	background: #ffcfcf;
	color: #e06f6f;
	padding: 8px 12px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #ffb0b0;
}

#errors span {
	display: block;
}

#errors span ~ span {
	margin-top: 5px;
}

#errors + .row {
	border-top: 1px solid #ffb0b0;
}

ul, ol {
	margin-left: 16px;
}

.post {
	line-height: 24px;
}

#head {
	border-bottom: 1px solid #d3d3d3;
	overflow: auto;
	font-size: 14px;
	margin-bottom: 50px;
}

#head aside {
	float: left;
	position: relative;
	top: 17px;
	font-size: 22px;
}

#head nav {
	float: right;
}

#head div {
	width: 960px;
	margin: 0px auto;
}

#head nav {
	border-right: 1px solid #d3d3d3;
}

#head nav a {
	border-left: 1px solid #d3d3d3;
	display: inline-block;
	padding: 25px;
}

#head nav a ~ a {
	margin-left: -4px;
}

#head nav a:hover {
	box-shadow: 0px -4px 0px #416eb2 inset;
}